<style type="text/css">
.tg{
	border-collapse:collapse;
	border-spacing:0;
	border:none;
	margin:0px auto;
	table-layout: fixed;
	width: 1000px;
	}
.tg td{
	font-family:Arial, sans-serif;
	font-size:20px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	}
.tg th{
	font-family:Arial, sans-serif;
	font-size:20px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	}
.tg .tg-9wq8{
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	}
.tg .tg-mp3r{
	font-size:20px;
	background-color:#557b97;
	color:#ffffff;
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	}
.tg .tg-e741{
	font-weight:bold;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	border-color:inherit;
	text-align:center;
	vertical-align:top;
	}
.tg .tg-c3ow{
	border-color:inherit;
	text-align:center;
	vertical-align:top;
	}
.tg .tg-lq7f{
	background-color:#557b97;
	text-align:left;
	vertical-align:top;
	}
.tg .tg-m3i9{
	font-weight:bold;
	background-color:#557b97;
	color:#ffffff;
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	}
.tg .tg-xhiq{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
	}
.tg .tg-m2u0{
	font-weight:bold;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	vertical-align:top;
	}
.tg .tg-t60e{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	border-color:inherit;
	text-align:center;
	vertical-align:top;
	}

@media screen and (max-width: 903px) {
	.tg {
		width: 100%;
		}
	.tg col {
		width: 100%;
		}
	.tg-wrap {
		overflow-x: auto;
		overflow-y: 10%;
		-webkit-overflow-scrolling: touch;
		margin: auto 0px;
		}
	}
</style>

